{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="en" class="light">
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Soluciones Solares GDL</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    {% tailwind_css %}
</head>

<body>
    <!-- Navbar -->
    <nav id="navBar" class="sticky flex items-center justify-between flex-wrap bg-cyan-700 p-6 top-0 start-0 fixed z-10">
        <button id="menuBtn" class="text-sky-50 text-3x1 text-main font-bold hover:font-light">☰</button>
        <div class="text-2x1 h-12">
            <img src="{% static 'images/logo.webp' %}" alt="logo" class="w-[150px] lg:w-[160px] sm:w-[150px]  h-auto object-contain">
        </div>
        <div class="w-8"></div>
    </nav>

    <!-- Sidebar para filtros -->
    <div id="sideMenu" class="fixed left-0 top-0 h-full w-64 -translate-x-full p-6 bg-sky-800 transition duration-300 z-30">
        <h2 class="text-xl font-extrabold mb-6 border-b pb-2">FILTROS DE ALTO RENDIMIENTO</h2>

        <ul class="space-y-4">
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:bg-fuchsia-600 pl-2">Potencia y Watts</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Capacidad Térmica</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Garantía Extrema</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Accesorios Tácticos</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Línea Industrial</a></li>
        </ul>
    </div>

    <!-- OVERLAY (Sombra oscura para el fondo) -->
    <div id="overlay" class="fixed inset-0 hidden bg-black opacity-80 z-20"></div>

    <!-- CARDS para productos -->
    <div class="antialiased text-gray-900 h-full flex w-full justify-center items-center">

      <div class="bg-gray-200 grid gap-8 grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 p-4 md:p-2 xl:p-5">
        {% for _ in rango %}
            <div class="relative bg-white rounded-lg overflow-hidden shadow-2xl group transition-transform duration-300 hover:translate-y-[-10px] justify-self-center w-full">
              <div class="h-48 w-full overflow-hidden">
                      <img class="h-full w-full object-cover transform overflow-hidden transition-transform duration-[300ms] group-hover:scale-125 object-end" src="https://images.unsplash.com/photo-1570797197190-8e003a00c846?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=968&q=80" alt="Home in Countryside" />
              </div>

              <div class="p-6 pb-4 group-hover:bg-gray-700 duration-[0.3s]">


               <div class="mt-1">
                  <span class="text-2xl font-semibold">$1,900.00</span>
                  <span class="text-gray-600 text-sm">/ wk</span>
                </div>
                <h4 class="mt-1 font-semibold text-xl leading-tight truncate group-hover:text-teal-600 duration-[0.3s]">Beautiful Home in the countryside</h4>
                <p class="Card-info text-gray-500 mt-2 group-hover:text-white">
                 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                  </p>


                  <div class="mt-4 flex items-center">
                    <div class="flex-shrink-0">
                      <a href="#">
                        <span class="sr-only">Daniela Metz</span>
                        <img class="h-10 w-10 rounded-full" src="https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=facearea&amp;facepad=2&amp;w=256&amp;h=256&amp;q=80" alt="">
                      </a>
                    </div>
                    <div class="ml-3">
                      <p class="text-sm font-medium text-gray-900">
                        <a href="#" class="hover:underline hover:text-teal-600  duration-[0.3s]">Daniela Metz</a>
                      </p>
                      <div class="flex space-x-1 text-sm text-gray-500 group-hover:text-white duration-[0.3s] ">
                        <time datetime="2020-02-12 ">Feb 12, 2020</time>
                        <span aria-hidden="true">·</span>
                        <span>11 min read</span>
                      </div>
                    </div>
                  </div>
                    <div class="mt-2 flex items-center justify-between">
                  <span class="text-teal-600 font-semibold">
                    <span class="flex gap-1">
                   <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                     </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                     </svg>
                     <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                     </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="currentColor" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                     </svg>
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-star">
                      <polygon points="12 2 15.09 8.26 22 9.27 17 14.14 18.18 21.02 12 17.77 5.82 21.02 7 14.14 2 9.27 8.91 8.26 12 2"/>
                     </svg>
                      </span>
                      </span>
                      <span class="ml-2 text-gray-600 text-sm">34 reviews</span>
                </div>
              </div>
            </div>
        {% endfor %}
      </div>
    </div>

    <!-- SCRIPT DEL MENÚ de filtros-->
    <script src="{% static "/js/menu.js" %}"></script>
</body>
</html>