{% load static %}
{% load tailwind_tags %}

<!DOCTYPE html>
<html lang="es" class="light">
<link>
    <meta charset="UTF-8">
    <meta name="description" content="Solar Panels and solutions catalog from Guadalajara">
    <meta name="keywords" content="Solar Panels, Guadalajara, paneles solares, calentadores solares, calentadores alberca, calentador, calentadores, agua, caliente">
    <meta name="author" content="MrNemod">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    {% tailwind_css %}
</head>

<body class="bg-gray-200">
    <!-- Navbar -->
    <nav id="navBar" class="sticky flex items-center justify-between flex-wrap bg-cyan-700 p-6 top-0 start-0 fixed z-10">
        <button id="menuBtn" class="text-sky-50 text-3x1 text-main font-bold hover:font-light">☰</button>
        <div class="text-2x1 h-12">
            <img src="{% static 'images/logo.webp' %}" alt="logo" class="w-[150px] lg:w-[160px] sm:w-[150px]  h-auto object-contain">
        </div>
        <div class="w-8"></div>
    </nav>

    <!-- Sidebar para filtros -->
    <div id="sideMenu" class="fixed left-0 top-0 h-full w-64 -translate-x-full p-6 bg-sky-800 transition duration-300 z-30">
        <h2 class="text-xl font-extrabold mb-6 border-b pb-2">FILTROS DE ALTO RENDIMIENTO</h2>

        <ul class="space-y-4">
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent pl-2">Potencia y Watts</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Capacidad Térmica</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Garantía Extrema</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Accesorios Tácticos</a></li>
            <li><a href="#" class="block text-gray-300 hover:text-accent font-medium transition duration-150 border-l-4 border-transparent hover:border-accent pl-2">Línea Industrial</a></li>
        </ul>
    </div>

    <!-- OVERLAY (Sombra oscura para el fondo) -->
    <div id="overlay" class="fixed inset-0 hidden bg-black opacity-80 z-20"></div>
{% block content %}{% endblock %}
    <!-- SCRIPT DEL MENÚ de filtros-->
    <script src="{% static "/js/menu.js" %}"></script>
</body>
</html>